.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c";


  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  padding: 10px;

}

.app-wrapper-content {
  grid-area: c;
  background: #fff;
  margin-top: 1.5rem;

}

.app-wrapper-header {
  grid-area: h;
  background: #4a76a8;
}

#root {
  background: rgba(229, 235, 241, 0.72);
}



